button {
  margin: 0 auto;
  padding: 10px;
  width: 32%;
  display: inline-block;
}
.container{
  width: 680px;
  height: 680px;
  margin: auto;
  display: grid;
  grid-gap: 0;
  border: solid;
  border-color: black;
}


.section{
  display: block;
  width: auto;
  height: auto;
  border-style: none;
  border-color: black;
}

.button-holder{

  display: block;
  margin: 0   30%;
}

body{
  background-color: #FFC8E3;
  }
